In [11]:
#https://huggingface.co/datasets/imodels/credit-card

In [12]:
from datasets import load_dataset
import pandas as pd

In [13]:



dataset = load_dataset("imodels/credit-card")
df = pd.DataFrame(dataset['train'])
X = df.drop(columns=['default.payment.next.month'])
y = df['default.payment.next.month'].values

In [15]:
#b) Remove Duplicats

dataset = load_dataset("imodels/credit-card")
df = pd.DataFrame(dataset['train'])
df_uniq = pd.DataFrame(dataset['train'])

print("Original DataFrame:")
print(df)

df_uniq.drop_duplicates()

print("Removed duplicate DataFrame:")
print(df)

Original DataFrame:
       limit_bal   age  pay_0  pay_2  pay_3  pay_4  pay_5  pay_6  bill_amt1  \
0        80000.0  24.0    0.0    0.0    0.0    0.0    0.0    0.0    75125.0
1        30000.0  28.0    0.0    0.0    0.0    0.0    0.0    0.0    29242.0
2       180000.0  44.0    0.0    0.0   -1.0   -1.0   -1.0   -1.0    20916.0
3        60000.0  25.0    0.0    0.0    0.0    0.0    0.0    0.0    58839.0
4       130000.0  25.0    0.0    0.0    0.0    0.0    0.0    0.0   111587.0
...          ...   ...    ...    ...    ...    ...    ...    ...        ...
23995    50000.0  32.0    0.0    0.0    0.0    0.0    0.0    0.0    52475.0
23996   200000.0  37.0    2.0    2.0    2.0    2.0    2.0    2.0   157131.0
23997    50000.0  26.0   -2.0   -2.0   -2.0   -2.0   -2.0   -2.0        0.0
23998    70000.0  25.0    0.0    0.0    0.0    0.0    2.0    2.0    73939.0
23999   160000.0  36.0   -2.0   -2.0   -2.0   -2.0   -2.0   -2.0      -20.0

       bill_amt2  ...  education:2  education:3  education:4  education:5  \
0        77353.0  ...          1.0          0.0          0.0          0.0
1        29507.0  ...          1.0          0.0          0.0          0.0
2            0.0  ...          0.0          0.0          0.0          1.0
3        53235.0  ...          0.0          0.0          0.0          0.0
4       112348.0  ...          1.0          0.0          0.0          0.0
...          ...  ...          ...          ...          ...          ...
23995    53600.0  ...          1.0          0.0          0.0          0.0
23996   166590.0  ...          0.0          0.0          0.0          0.0
23997        0.0  ...          0.0          0.0          0.0          0.0
23998    70488.0  ...          1.0          0.0          0.0          0.0
23999      -20.0  ...          1.0          0.0          0.0          0.0

       education:6  marriage:0  marriage:1  marriage:2  marriage:3  \
0              0.0         0.0         0.0         1.0         0.0
1              0.0         0.0         0.0         1.0         0.0
2              0.0         0.0         1.0         0.0         0.0
3              0.0         0.0         0.0         1.0         0.0
4              0.0         0.0         0.0         1.0         0.0
...            ...         ...         ...         ...         ...
23995          0.0         0.0         0.0         1.0         0.0
23996          0.0         0.0         0.0         1.0         0.0
23997          0.0         0.0         0.0         1.0         0.0
23998          0.0         0.0         0.0         1.0         0.0
23999          0.0         0.0         1.0         0.0         0.0

       default.payment.next.month
0                               0
1                               0
2                               0
3                               0
4                               0
...                           ...
23995                           0
23996                           1
23997                           0
23998                           1
23999                           1

[24000 rows x 34 columns]
Removed duplicate DataFrame:
       limit_bal   age  pay_0  pay_2  pay_3  pay_4  pay_5  pay_6  bill_amt1  \
0        80000.0  24.0    0.0    0.0    0.0    0.0    0.0    0.0    75125.0
1        30000.0  28.0    0.0    0.0    0.0    0.0    0.0    0.0    29242.0
2       180000.0  44.0    0.0    0.0   -1.0   -1.0   -1.0   -1.0    20916.0
3        60000.0  25.0    0.0    0.0    0.0    0.0    0.0    0.0    58839.0
4       130000.0  25.0    0.0    0.0    0.0    0.0    0.0    0.0   111587.0
...          ...   ...    ...    ...    ...    ...    ...    ...        ...
23995    50000.0  32.0    0.0    0.0    0.0    0.0    0.0    0.0    52475.0
23996   200000.0  37.0    2.0    2.0    2.0    2.0    2.0    2.0   157131.0
23997    50000.0  26.0   -2.0   -2.0   -2.0   -2.0   -2.0   -2.0        0.0
23998    70000.0  25.0    0.0    0.0    0.0    0.0    2.0    2.0    73939.0
23999   160000.0  36.0   -2.0   -2.0   -2.0   -2.0   -2.0   -2.0      -20.0

       bill_amt2  ...  education:2  education:3  education:4  education:5  \
0        77353.0  ...          1.0          0.0          0.0          0.0
1        29507.0  ...          1.0          0.0          0.0          0.0
2            0.0  ...          0.0          0.0          0.0          1.0
3        53235.0  ...          0.0          0.0          0.0          0.0
4       112348.0  ...          1.0          0.0          0.0          0.0
...          ...  ...          ...          ...          ...          ...
23995    53600.0  ...          1.0          0.0          0.0          0.0
23996   166590.0  ...          0.0          0.0          0.0          0.0
23997        0.0  ...          0.0          0.0          0.0          0.0
23998    70488.0  ...          1.0          0.0          0.0          0.0
23999      -20.0  ...          1.0          0.0          0.0          0.0

       education:6  marriage:0  marriage:1  marriage:2  marriage:3  \
0              0.0         0.0         0.0         1.0         0.0
1              0.0         0.0         0.0         1.0         0.0
2              0.0         0.0         1.0         0.0         0.0
3              0.0         0.0         0.0         1.0         0.0
4              0.0         0.0         0.0         1.0         0.0
...            ...         ...         ...         ...         ...
23995          0.0         0.0         0.0         1.0         0.0
23996          0.0         0.0         0.0         1.0         0.0
23997          0.0         0.0         0.0         1.0         0.0
23998          0.0         0.0         0.0         1.0         0.0
23999          0.0         0.0         1.0         0.0         0.0

       default.payment.next.month
0                               0
1                               0
2                               0
3                               0
4                               0
...                           ...
23995                           0
23996                           1
23997                           0
23998                           1
23999                           1

[24000 rows x 34 columns]

In [21]:
#c) KoRElacja
df_uniq = pd.DataFrame(dataset['train'])
df_uniq.drop_duplicates()

correlation_matrix = df_uniq[['age', 'limit_bal']].corr()

age_credit_limit_correlation = correlation_matrix.loc['age', 'limit_bal']

print("Correlation matrix:\n", correlation_matrix)
print("\nCorrelation between age and credit limit:", age_credit_limit_correlation)

Correlation matrix:
                 age  limit_bal
age        1.000000   0.149027
limit_bal  0.149027   1.000000

Correlation between age and credit limit: 0.14902690429071996

In [22]:
df_uniq['total_bill_amount'] = df_uniq[['bill_amt1', 'bill_amt2', 'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6']].sum(axis=1)

print(df_uniq[['total_bill_amount']])

       total_bill_amount
0               383630.0
1               135160.0
2                38987.0
3               269005.0
4               701250.0
...                  ...
23995           253128.0
23996           997402.0
23997                0.0
23998           287373.0
23999            22267.0

[24000 rows x 1 columns]

In [26]:
sorted_df = df_uniq.sort_values(by='age', ascending=False)

oldest_clients = sorted_df.head(10)
education_columns = [col for col in df_uniq.columns if 'education' in col] #becouse we have education_columns like education:1, 2...

selected_columns = ['limit_bal', 'age'] + education_columns + ['total_bill_amount']
oldest_clients_subset = oldest_clients[selected_columns]

print(oldest_clients_subset)

KeyError: "None of [Index([('limit_bal', 'age', 'education:0', 'education:1', 'education:2', 'education:3', 'education:4', 'education:5', 'education:6', 'total_bill_amount')], dtype='object')] are in the [columns]"